<div class="breaking-news-banner" role="status" data-node-id="16861:6001">
  <div class="breaking-news-content" data-node-id="16861:6002">
    <p class="breaking-news-text">
      <span>{{ "breaking.news" | translate }} </span>
      <saf-anchor
        href="https://corporates-status.thomsonreuters.com"
        target="_blank"
        rel="noopener noreferrer"
        class="breaking-news-link"
        aria-label="Check system status, opens in new tab"
      >
        {{ "breaking.link" | translate }}
        <saf-icon
          slot="end"
          icon-name="arrow-up-right-from-square"
          presentation="false"
        ></saf-icon>
      </saf-anchor>
    </p>
  </div>
</div>
